/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*font-size: 62.5%;rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

/*前のページ*/
.mae,.tugi{
  width: 60px;
  height: 60px;
  margin: 0px;
  padding: 0px;
  float:center;
  color: #fff;
  background: #00f;
  border-radius: 50%;
}

/*1～ページ*/
.botan1{
  width: 60px;
  height: 60px;
  margin: 20px;
  padding: 10px;
  float:center;
  color: #fff;
  background: #00f;
  border-radius: 100%;
}

/*↑のCSS*/
a.btn--circle {
  width: 60px;
  height: 60px;
  padding: 0;
  float:right;
  color: #000;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.btn--circle i {
  font-size: 150%;
  line-height: 60px;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 0;
}
a.btn--circle:hover i {
  line-height: 55px;
}

